.loader,
.loader::before,
.loader::after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: '';
}

.loader::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader::after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,

  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,

  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 95px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;

  .header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }
}

.books-container {
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  align-items: center;
}

/******** Mobile View *************/

@media only screen and (max-width: 500px) {
  .header {
    padding: 0 3%;
  }

  .header-title {
    display: none;
  }

  .books-container {
    margin: 20px;
    grid-gap: 30px;
  }
}

/******** Tablet View *************/

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 3%;
  }

  .books-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 0 3%;
  }

  .books-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
