.cards {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: center;

  &:hover {
    transition: transform 0.1s ease-out;
    transform: translateY(5px);
  }

  img {
    width: 100%;
  }

  p {
    padding: 20px 20px 20px;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
  }
}
